<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Alert | Vue.js UI Framework</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="preload" href="/vuefire/assets/css/0.styles.2fb92089.css" as="style"><link rel="preload" href="/vuefire/assets/js/app.15b159da.js" as="script"><link rel="preload" href="/vuefire/assets/js/4.8de67c10.js" as="script"><link rel="prefetch" href="/vuefire/assets/js/2.186ee342.js"><link rel="prefetch" href="/vuefire/assets/js/3.8767c7e7.js"><link rel="prefetch" href="/vuefire/assets/js/5.69e081c3.js">
    <link rel="stylesheet" href="/vuefire/assets/css/0.styles.2fb92089.css">
  </head>
  <body>
    <div id="app" data-server-rendered="true"><div class="theme-container"><!----> <div class="content"><h1 id="alert"><a href="#alert" aria-hidden="true" class="header-anchor">#</a> Alert</h1> <div class="content-box"><div class="box">
  警告框组件通过提供一些灵活的预定义消息，为常见的用户动作提供反馈消息。
</div></div></div></div></div>
    <script src="/vuefire/assets/js/app.15b159da.js" defer></script><script src="/vuefire/assets/js/4.8de67c10.js" defer></script>
  </body>
</html>
